<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue.js: Touch the Numbers風ゲーム</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
</head>

<body>
    <div id="app" class="main">
        <button type="button" class="numButton" v-for="btn in buttons1" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
            v-on:click="checkNumber(btn-1)">{{
            btn
            }}</button>
        <br>
        <button type="button" class="numButton" v-for="btn in buttons2" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
            v-on:click="checkNumber(btn-1)">{{
            btn
            }}</button>
        <br>
        <button type="button" class="numButton" v-for="btn in buttons3" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
            v-on:click="checkNumber(btn-1)">{{
            btn
            }}</button>
        <br>
        <button type="button" class="numButton" v-for="btn in buttons4" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
            v-on:click="checkNumber(btn-1)">{{
            btn
            }}</button>
        <br>
        <button type="button" class="numButton" v-for="btn in buttons5" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
            v-on:click="checkNumber(btn-1)">{{
            btn
            }}</button>
    </div>

    <script>
        const gameNumbers = [
            1, 2, 3, 4, 5,
            6, 7, 8, 9, 10,
            11, 12, 13, 14, 15,
            16, 17, 18, 19, 20,
            21, 22, 23, 24, 25
        ]
        const bColor = "#fd9535"
        const bColorSuccess = "#fff"
        let btnArray = [] // 25 Buttons Data
        let btnColor = [] // 25 Buttons Color
        let checkCounter = 0

        new Vue({
            el: '#app',

            created: function () {
                // Set the color corresponding to 1-25 button
                [...Array(25)].forEach((_, i) => {
                    btnColor[i] = bColor
                })
            },

            data: {
                buttons1: randomSort(gameNumbers), // 5 numbers of Row1
                buttons2: randomSort(gameNumbers), // Row2
                buttons3: randomSort(gameNumbers), // Row3
                buttons4: randomSort(gameNumbers), // Row4
                buttons5: randomSort(gameNumbers), // Row5
                colors: btnColor // 1-25 Button color
            },

            methods: {
                // Check clicked number
                checkNumber(btnId) {
                    if (btnId == checkCounter) {
                        // Clear button color
                        this.$set(this.colors, btnId, bColorSuccess)
                        checkCounter++
                    }
                }
            }
        })

        // Set Button number per Row
        function randomSort(num) {
            let arrayData = num
            let resultArray = []
            // todo: created内のスプレッド演算子で規定回数繰り返せない謎
            for (let i = 0; i < 5; i++) {
                let arrayIndex = Math.floor(Math.random() * arrayData.length)
                resultArray[i] = arrayData[arrayIndex]
                arrayData.splice(arrayIndex, 1)
            }
            return resultArray
        }
    </script>
</body>

</html>