<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vue.js: Touch the Numbers風ゲーム</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div id="app" class="main">
        <div>
            <p class="timer">Time:
                {{ hours }} :
                {{ minutes | zeroPad }} :
                {{ seconds | zeroPad }} :
                {{ milliSeconds | zeroPad(3) }}</p>
        </div>
        <div>
            <button type="button" class="numButton" v-for="btn in buttonRow1" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
                v-bind:disabled="isStart" v-on:click="checkNumber(btn-1)">{{ btn }}</button>
            <br>
            <button type="button" class="numButton" v-for="btn in buttonRow2" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
                v-bind:disabled="isStart" v-on:click="checkNumber(btn-1)">{{ btn }}</button>
            <br>
            <button type="button" class="numButton" v-for="btn in buttonRow3" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
                v-bind:disabled="isStart" v-on:click="checkNumber(btn-1)">{{ btn }}</button>
            <br>
            <button type="button" class="numButton" v-for="btn in buttonRow4" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
                v-bind:disabled="isStart" v-on:click="checkNumber(btn-1)">{{ btn }}</button>
            <br>
            <button type="button" class="numButton" v-for="btn in buttonRow5" v-bind:value="btn" v-bind:style="{background: colors[btn-1]}"
                v-bind:disabled="isStart" v-on:click="checkNumber(btn-1)">{{ btn }}</button>
        </div>
        <div class="buttons">
            <button class="ui primary button" v-on:click="startGame" v-bind:disabled="isRunning">START</button>
            <button class="ui button" v-on:click="clearAllData">CLEAR</button>
            <br>
            <button class="ui green button" v-show="isShow">{{ message }}</button>
        </div>
    </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script src="main.js" defer></script>
</body>

</html>